@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

  body {
    background: #030303;
    color: #ffffff;
}

.header {
    position: fixed;
    top: 20px; /* Отстояние от върха на страницата */
    left: 0;
    right: 0; /* Добавено отстояние от дясната страна */
    width: 95%; /* Ширина на хедъра */
    margin: 0 auto; /* Центриране на хедъра */
    padding: 23px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 1px solid #646464; /* Комбинирани border свойства */
    border-radius: 18px;
}



.logo {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #bebebe;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: #6d6c6c;
}

.navbar a:hover, 
.navbar a.active1 {
    color: #6d6c6c;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 800px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    background: linear-gradient(to right, #ffffff, #464646); /* Цветовете на градиента */
    -webkit-background-clip: text;
    color: transparent;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #e100ffef;
}

.home-content p {
    color: #FFFFFF; /* Бял цвят за текста */
    font-size: 19px; /* Размер на шрифта */
    line-height: 1.5; /* Височина на редовете за по-добра четливост */
    margin: 10px 0; /* Разстояние отгоре и отдолу */
    font-family: Arial, sans-serif; /* Избор на шрифт */
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    background-color: #FFD700;
    border: 2px solid #FFD700;
    border-radius: 8px;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #ffffff;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ffffffef;
}

.btn-box a:nth-child(2):hover {
    color: #000000;
}

.btn-box a:nth-child(2)::before {
    background: #FFD700;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff0000;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
}

.loginbtn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.loginbtn:hover {
    background: #fff;
    color: #081b29;
}

.btnb a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 8px;
    font-size: 19px;
    color: #090909;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btnb a:hover {
    color: #ff0000;
}

.btnb a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #090909;
    z-index: -1;
    transition: .5s;
}

.btnb a:hover::before {
    width: 100%;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer {
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-background {
    background-image: url('images/images11.png');
    height: 120%;
    width: 100%;
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

.parallax-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; 
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.parallax {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative; /* Добавено, за да се показва над .parallax-background */
    z-index: 1; /* Добавено, за да се показва над .parallax-background */
}

.parallax-content {
    max-width: 900px;
}

.parallax-content h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 1.2;
}

.parallax-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #e100ffef;
}

.parallax-content p {
    font-size: 16px;
    margin: 20px 0 20px;
}

.parallax-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 3px;
    height: 50px;
}

/* Вашите съществуващи стилове */
.parallax {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.parallax-content {
    max-width: 900px;
}

.parallax-content h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2;
    color: white;
    margin-top: 1px;
}

.parallax-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #e100ffef;
}

.parallax-content p {
    color: #ebebeb; /* Бял цвят за текста */
    font-size: 19px; /* Размер на шрифта */
    line-height: 1.5; /* Височина на редовете за по-добра четливост */
    margin: 15px 0; /* Разстояние отгоре и отдолу */
    max-width: 570px;
}

.parallax-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 50px;
}

/* Общи стилове за всички секции */
.section {
    padding: 50px;
    border-bottom: 1px solid #333;
    min-height: 100vh; /* Височина на секцията */
}

/* Стилове за третата секция */
.third-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 200px; /* Малко разстояние от долната част */
}

/* Стилове за контейнера */
.container {
    background-color: #1b1b1b;
    padding: 30px;
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container h3 {
    margin-bottom: 30px;
    font-size: 28px;
}

.container input[type="text"],
.container input[type="email"],
.container textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #2c2c2c;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.container textarea {
    height: 150px;
    resize: none;
}

.container input[type="text"]::placeholder,
.container input[type="email"]::placeholder,
.container textarea::placeholder {
    color: #646464;
}

.container button {
    width: 100%;
    padding: 15px;
    background-color: #8000ff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.container button:hover {
    background-color: #a64cff;
}

.left {
    flex: 1;
    margin-right: 20px;
    top: 50px;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 100px; /* Малко разстояние от долната част */
    background: linear-gradient(to right, #ffffff, #888888);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 1px; /* Променете стойността на margin-top според вашите предпочитания */

}

ul {
    padding: 0;
    margin: 15px 0 0 0; /* Добавяне на отстъп между заглавието и списъка */
}

ul li {
    font-size: 1.2em; /* Регулиране на размера на шрифта според нуждите */
    margin-bottom: 10px; /* Регулиране на марджините между елементите на списъка */
    padding-left: 10px; /* Добавяне на ляв отстъп, за да побере символите на списъка */
    position: relative;
}

ul li::before {
    position: absolute;
    left: 0;
    top: 0;
}

span {
    color: #FFD700; /* или друг избран цвят */
  }

.logo1 {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 700px; /* Задава ширината на изображението */
    height: 700px; /* Поддържа пропорциите на изображението */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(15, 15, 15, 0.507);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar a {
    width: 100%;
    font-size: 18px;
    color: #bebebe;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;
    transition: .3s;
}

.sidebar a:hover, 
.sidebar a.active {
    color: #6d6c6c;
}

.menu-button{
    display: none;
}

@media(max-width: 1080px){
    .active1{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 1080px){
    .hideOnMobile2{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 1080px){
    .hideOnMobile3{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 1080px){
    .hideOnMobile4{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 1080px){
    .hideOnMobile5{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 800px){
    .logo1{
        display: none;
    }
}

@media(max-width: 800px){
    .logo{
        font-size: large;
    }
}

@media(max-width: 800px){
    .header {
        position: fixed;
        top: 20px; /* Отстояние от върха на страницата */
        left: 0;
        right: 0; /* Добавено отстояние от дясната страна */
        width: 90%; /* Ширина на хедъра */
        height: 7%;
        margin: 0 auto; /* Центриране на хедъра */
        padding: 23px 10%;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        border: 1px solid #646464; /* Комбинирани border свойства */
        border-radius: 18px;
    }
}

@media(max-width: 800px){
    .parallax-content h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.2;
        color: white;
        margin-top: 1px;
    }
}

@media(max-width: 800px){
    .parallax-content p {
        color: #ebebeb; /* Бял цвят за текста */
        font-size: 13px; /* Размер на шрифта */
        line-height: 1.5; /* Височина на редовете за по-добра четливост */
        margin: 12px 0; /* Разстояние отгоре и отдолу */
        max-width: 310px;
    }
}

@media(max-width: 800px){
    .home-content h1 {
        font-size: 65px;
        font-weight: 700;
        line-height: 1.2;
        background: linear-gradient(to right, #ffffff, #464646); /* Цветовете на градиента */
        -webkit-background-clip: text;
        color: transparent;
    }
}

@media(max-width: 800px){
    ul li {
        font-size: 17px; /* Регулиране на размера на шрифта според нуждите */
        margin-bottom: 13px; /* Регулиране на марджините между елементите на списъка */
        padding-left: 13px; /* Добавяне на ляв отстъп, за да побере символите на списъка */
        position: relative;
    }
}

@media(max-width: 800px){
    footer {
        background: transparent;
        color: #fff;
        text-align: center;
        padding: 0.9rem 0;
    }
}

@media(max-width: 800px){
    .parallax-content .btn-box {
        display: flex;
        justify-content: space-between;
        width: 315px;
        height: 50px;
    }
}

@media(max-width: 800px){
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 90%;
        background-color: #FFD700;
        border: 2px solid #FFD700;
        border-radius: 8px;
        font-size: 17px;
        color: #000000;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
}

@media(max-width: 800px){
    
}

@media(max-width: 800px){
    
}

@media(max-width: 800px){
    
}
